{{- $repo := .Get "repo" -}}
{{- $title := .Get "title" -}}
{{- $descr := .Get "description" -}}

{{- $remote := printf "https://github.com/%s" $repo -}}
{{- $command := printf "wrangler generate my-app %s" $remote -}}

<style>
  .WorkerStarter--command pre {
    height: var(--height);
    line-height: 1.4;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
  }
  .WorkerStarter--command code {
    display: block;
    padding: 0.7em 1.25em;
    font-family: inherit;
    cursor: default;
  }
</style>

<div class="WorkerStarter">
  <div class="WorkerStarter--title">
    {{- $text := printf "[%s](%s)" $title $remote -}}
    {{- .Page.RenderString $text -}}
  </div>

  <div class="WorkerStarter--description">
    {{- $descr -}}
  </div>

  <div class="WorkerStarter--command">
    <div class="WorkerStarter--command-copy-button-wrapper">
      <button class="Button" data-clipboard="{{ $command }}">Copy</button>
    </div>

    <div class="WorkerStarter--command-codeblock-wrapper">
      {{- .Page.RenderString (printf "```txt\n%s\n```" $command) -}}
    </div>
  </div>
</div>